/**
 *
 */
body {
    font-family: georgia;
    background: #999;
    color: #111;
}
article {
    margin: 0 auto;
    padding: 1em 2em;
    display: block;
    width: 750px;
    background: #fefefe;
}
img {
    display: block;
    padding: 0; margin: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: #000;
}
h1 a:hover:after, h2 a:hover:after, h3 a:hover:after, h4 a:hover:after, h5 a:hover:after, h6 a:hover:after {
    content: "\00a0#";
    font-size: 0.75em;
    color: purple;
}