/**
 *
 */
body {
    font-family: georgia;
    background: #999;
}
article {
    margin: 0 auto;
    padding: 1em 2em;
    display: block;
    width: 750px;
    background: #fefefe;
}
img {
    display: block;
    padding: 0; margin: 0;
}